.login-page {
    background-color: white;   
}

.login-header{
    font-family: 'Rancho', cursive;
    color:#009688;
    font-size: 50px;
    text-align: center;
    margin-top: 80px;    
}

.logo-index{
    font-family: 'Rancho', cursive;
    color: white;
}

.login-btn {
    text-align: center;
}

.login-form-btns {
    text-align: center;
}

.regis-password-box {
    position: relative;
}

.site-footer{
    text-align: center;
    font-size: 85%;
    color: #777;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #e6e6e6;
}

.regis-password-show { 
    position: relative; 
}

.regis-password-show input { 
    border:none: background:#fff; 
    display:block; 
    width: 100%; 
    box-sizing: border-box 
}

.regis-password-show i { 
    position: absolute; 
    font-size: 25px;
    right: 20px;
}

.show-off{
    color: #BDBDBD;
}

.show-on{
    color: #009688;
}

.site-logo{
    height: auto;
    width: 30px !important;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#header-drop-down{
    color:black;
    list-style:none;
    z-index: 1000;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    background-color:white;
    padding:0px;
    margin-top:14px;
    position: absolute;
}

#header-drop-down li{
    border: 1px solid rgba(0,0,0,.15);
    padding:10px 20px;
}

#header-drop-down li:last-of-type{
    border-top: none; 
}

#header-drop-down li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

#header-drop-down li:hover{
    background-color: #009688;
}

#header-drop-down li:hover a{
    color: white;
}